.header{
  height:55px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:100;
  background-color: white;
  border: 1px solid rgb(199, 196, 196);
}

.left-section{
  display:flex;
  align-items:center; 
}
.hamburger-menu{
  height:24px;
  margin-left:24px;
  margin-right:24px;
} 

.youtube-logo{
  height:20px;
}
.middle-section{
  flex:1;
  margin-left:70px;
  margin-right:35px;
  max-width:500px;
  display:flex;
  align-items:center;
}

.search-bar{
  flex:1;
  height:36px;
  padding-left:10px;
  font-size:16px;
  border-width:1px;
  border-style:solid;
  border-color:rgb(192, 186, 186);
  border-radius:2px;
  box-shadow:inset 1px 2px 3px rgba(0,0,0,0.05);
  width:0;
  border-radius:20px;
  margin-right:10px;
  padding-left:15px;
}
.search-bar::placeholder{
  font-size:16px;
}
.search-button{
  height:40px;
  width:66px;
  background-color:rgb(240, 240, 240);
  border-width:1px;
  border-style:solid;
  border-color:rgb(199, 196, 196);
  margin-left:-1px;
  margin-right:10px;
  position:relative;
  border-radius:20px;
}


.search-button , .voice-search-button{
  position:relative;
  display:flex;
  justify-content: center;
  align-items:center;
}


.search-button .tooltip,
.voice-search-button .tooltip{
  position:absolute;
  background-color: grey;
  color:white;
  padding : 4px 8px 4px 8px ;
  border-radius: 2px;
  font-size:12px;
  bottom:-30px;
  opacity:0;
  transition:opacity 0.15s;
  pointer-events:none;
  white-space:nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip{
  opacity:1;
}


.search-icon{
  height:25px;
}

.voice-search-button{
  height:40px;
  width:40px;
  border-radius:20px;
  border:None;
  background-color:rgb(250, 249, 249);
}

.voice-search-icon{
  height:24px;
  margin-top:4px;
}

.right-section{
  width:180px;
  margin-right:20px;
  display:flex;
  align-items:center;
  justify-content: space-between;
  flex-shrink:0;    
}

.upload-icon{
  height:25px;
}

.youtube-icon{
  height:25px;
}

.notifications-icon{
  height:25px;
}

.notifications-icon-container{
  position:relative;
}

.notifications-count{
  position:absolute;
  top:-2px;
  right:-2px;
  background-color: rgb(194, 9, 9);
  color:white;
  font-size:11px;
  padding-left:5px;
  padding-right:5px;
  padding-top:2px;
  padding-bottom:2px;
  border-radius:10px;
}

.my-channel-header{
  height:32px;
  border-radius:16px;
}
